@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

html {
  scroll-behavior: smooth;
  background-color: #185ecf;
}

main {
  font-family: "Source Code Pro", monospace;
}

@layer components {
  .button-profile-menu {
    @apply w-full h-12 bg-white text-blue-500 bg-opacity-70 text-lg font-bold border-2 border-white rounded-xl shadow-md hover:text-sky-500 hover:bg-white transition-all duration-300;
  }
  .button-light-mode {
    @apply bg-white text-blue-500 bg-opacity-70 text-lg font-bold border-2 border-white rounded-xl shadow-md hover:text-white hover:bg-gradient-to-tl from-cyan-600 to-blue-600 hover:bg-opacity-50 transition-all duration-300;
  }
}
